{% extends "base_generic.html" %}

{% block content %}
<div class="table-responsive">
      <table class="table table-striped table-hover table-bordered" data-toggle="table">
        <caption>List of orbments</caption>
        <thead>
        <tr>
            <th data-sortable="true">Name</th>
            <th data-sortable="true">Element</th>
            <th data-sortable="true">Power</th>
            <th data-sortable="true">Range</th>
            <th data-sortable="true">Sepith Cost</th>
            <th data-sortable="true">U-Material Cost</th>
            <th data-sortable="true">Slots Required</th>
            {% for attribute in attributes %}
            <th data-sortable="true">{{ attribute.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% if orbment_list %}
        {% for orbment in orbment_list %}
        <tr>
            <td><a href="{{ orbment.get_absolute_url }}">{{ orbment.name }}</a></td>
            <td>{{ orbment.element }}</td>
            <td>{{ orbment.power }}</td>
            <td>{{ orbment.range }}</td>
            <td>{{ orbment.sepith_cost }}</td>
            <td>{{ orbment.u_material_cost }}</td>
            <td>{{ orbment.slots_required }}</td>
            {% for k, v in orb_attrs.items %}
            {%if k == orbment.name %}
            {% for key, value in v %}
            <td>{{ value }}</td>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
  <table>
    <tr>
        {% for key, value in thingy.items %}
        <li>{{ key }}:{{ value }}</li>
        {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
